@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-gray-50 text-gray-800 font-sans;
  }

  * {
    @apply box-border;
  }

  button {
    @apply cursor-pointer;
  }

  a {
    @apply no-underline;
  }
}
/* Scrollbar invisible */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
@keyframes infiniteTickerL {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes infiniteTickerR {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.ticker-track {
  display: flex;
  width: max-content;
  animation: infiniteTickerL 20s linear infinite;
}
.ticker-trackR {
  display: flex;
  width: max-content;
  animation: infiniteTickerR 20s linear infinite;
}